
<div class="container">
  <h1>Sign up to see secrets..</h1>
  <img src="https://farm9.staticflickr.com/8031/7901289638_fa8512651a_b.jpg" width="100px"/>
  <form action="/sign_up" method="post">
  <p>First name:</p>
  <input type="text" name="user[first_name]">
  <p>Last name:</p>
  <input type="text" name="user[last_name]">
  <p>Email:</p>
  <input type="text" name="user[email]">
  <p>Password:</p>
  <input type="text" name="user[password]">
  <br/><br/>
  <input type="submit" value="Sign up!">
  </form>
</div>

